.grid-holder {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 20px #d2d2d2;
    > div {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        box-sizing: border-box;
    }
    .grid-handle {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    > .grid-ceil-horizontal {
        > .grid-handle {
            cursor: col-resize;
            width: 4px;
            margin-left: -2px;
        }
    }
    > .grid-ceil-vertical {
        > .grid-handle {
            cursor: row-resize;
            height: 4px;
            margin-top: -2px;
        }
    }
}